@import "../../styles/colors";

.cart-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $circled-radius;
    width: 80vh;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: $card-background-color;
    box-shadow: 0 0 20px $card-shadow;
    border: 2px solid $card-shadow;
    gap: 25px;

    h3 {
        font-size: 22px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
        gap: 10px;

        strong {
            line-height: 20px;
            color: $pure-white;

            span {
                color: $pure-white;
                font-weight: 500;
            }
        }
    }

    &__header {
        padding: 15px;
        border-radius: $circled-radius $circled-radius 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $regular-brown;
        color: $pure-white;

        button {
            padding: 0.5rem 1rem;
            background-color: $dark-background-color;
            border: 1px solid $pure-black;
            border-radius: $circled-radius;
            cursor: pointer;
            color: $pure-white;
            transition: 0.5s;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &__delete {
        padding: 1.5rem;
        margin: auto;

        button {
            border: 1px solid $pure-black;
            padding: 15px;
            background-color: $dark-background-color;
            border-radius: $circled-radius;
            cursor: pointer;
            color: $pure-white;
            transition: 0.5s;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}