$regular-orange: #FFE300;

$pure-white: #ffffff;

$dark-background-color: #272b30;
// $dirty-white: rgb(245, 240, 240);

// $table-header-background:  rgb(205, 189, 195);

// $dark-background-color: rgb(245, 240, 240);
// $light-gray-background-color: rgba(246, 242, 242, 0.576);


// $grey-shadow: 0px 0px 20px 0px rgb(49, 49, 49);
// $lighter-grey-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);