$pure-white: #ffffff;
$pure-black: #000000;
$regular-orange: #FFE300;
$dark-background-color: #272b30;
$card-background-color:#40474f;
$card-shadow: #202020;
$regular-brown: #855a38;

$circled-radius: 15px